* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #030303;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.loading {
  align-items: center;
  display: flex;
  justify-content: center;
  color: white;
}

.login_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(68, 73, 85, 0.2);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  width: 50%;
  height: 300px;
  padding: 10px;
  gap: 30px;
}

.login_form input {
  outline: none;
  width: 70%;
  border: 1px solid #E1E5EB;
  border-radius: 0px;
  background: #FFFFFF;
  padding: 12px 16px;
}

.login_form button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 32px;
  gap: 10px;
  background: #003BE5;
  border-radius: 2px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  outline: none;
  width: 70%;
  color: white;
  font-family: 'Verdana';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}

.login_form button:disabled {
  opacity: 0.5;
}

.login_form button:active {
  opacity: 0.6;
  cursor: pointer;
}

.page-login {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;
  height: 100vh;
  gap: 20px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 6vw;
}

ul {
  outline: none;
}

nav {
  display: flex;
  gap: 25px;
}

header img {
  width: 100px;
}

a, nav span {
  text-decoration: none;
  color: white;
  font-weight: 500;
  letter-spacing: 0.1rem;
}

nav span:nth-of-type(1) {
  font-weight: 200;
  padding: 0 10px;
  /* color: red; */
}

a:hover {
  color: #53D05F;
  cursor: pointer;
}